<!DOCTYPE html>
<html lang="hu"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>uu74p5</title>
	
	<link rel="stylesheet" href="../static/css/blog.css" th:href="@{/css/blog.css}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />	
	<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />
	
</head>
<body>

	<div class="container">
  		 
		<nav class="navbar navbar-default">
		    <div class="container-fluid">
		       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav">
				        <li class=""><a class="" href="/">Kezdőoldal</a></li>
				        <li class="dropdown" sec:authorize="hasAuthority('USER')"><a href="/usertickets" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hibajegyeim <span class="caret"></span></a>
				        	<ul class="dropdown-menu">
	            				<li><a th:href="@{'/usertickets/inprogress'}">Saját folyamatban</a></li>
	            				<li><a th:href="@{'/usertickets/opened'}">Saját nyitott</a></li>
	           					<li><a th:href="@{'/usertickets/closed'}">Saját lezárt</a></li>
	            				<li><a th:href="@{'/usertickets'}">Saját összes</a></li>
	            			</ul></li>
				        <li class="dropdown" sec:authorize="hasAnyAuthority('EDITOR', 'ADMIN')"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hibajegyek <span class="caret"></span></a>
				        	<ul class="dropdown-menu">
	            				<li><a th:href="@{'/workertickets/inprogress'}">Saját folyamatban</a></li>
	           					<li><a th:href="@{'/workertickets/closed'}">Saját lezárt</a></li>
	            				<li><a th:href="@{'/workertickets'}">Saját összes</a></li>
	            				<li role="separator" class="divider"></li>
	            				<li><a th:href="@{'/alltickets/inprogress'}">Összes folyamatban</a></li>
	           					<li><a th:href="@{'/alltickets/closed'}">Összes lezárt</a></li>
	            				<li><a th:href="@{'/alltickets'}">Összes</a></li>
	            				<li role="separator" class="divider"></li>
	            				<li><a th:href="@{'/tickets'}">Gazdátlan feladatok</a></li>
          					</ul></li>
				        <li class="" sec:authorize="hasAuthority('ADMIN')"><a class="" href="/users">Kliensek</a></li>
				        <li class="" sec:authorize="hasAuthority('ADMIN')"><a class="" href="/workers">Munkatársak</a></li>
				        <li class="dropdown" sec:authorize="hasAuthority('ADMIN')"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Egyéb <span class="caret"></span></a>
					        <ul class="dropdown-menu">
		            			<li><a th:href="@{'/workertickets/inprogress'}">Statisztika</a></li>
		           				<li><a th:href="@{'/workersdeleted'}">Törölt felhasználók</a></li>
					        </ul></li>
				        <li class="" sec:authorize="hasAuthority('USER')"><a class="" href="newticket">Bejelentés</a></li>
				        <li class="" sec:authorize="hasAuthority('USER')"><a class="" href="editor/edit">Email</a></li>
				        
				    </ul>
				    <div class="navbar-text navbar-right">
				    <form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
				    		| <a href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Kijelentkezés</a>
				      </form>
				    </div>
				    <div class="navbar-text navbar-right" sec:authorize="isAuthenticated()">
				     <font color="green">Üdvözöllek, <span sec:authentication="name"></span>!</font>
				    </div>
				    <div class="navbar-text navbar-right" sec:authorize="hasAuthority('ADMIN')">
				     	<font color="red">{ADMIN}</font>
				    </div>
				    
				    <div class="navbar-text navbar-right" sec:authorize="isAnonymous()">
							| <a href="/login">Bejelentkezés</a>
				    </div>
				    <div class="navbar-text navbar-right" sec:authorize="isAnonymous()">
				     <span>Üdvözöllek, Vendég!</span>
				    </div>
				    
				</div>
		    </div>
		</nav>
		
		<div layout:fragment="loginContent"></div>
		<div layout:fragment="tickets"></div>
		<div layout:fragment="ticket"></div>
		<div layout:fragment="ticketEditor"></div>
		<div layout:fragment="index"></div>
		<div layout:fragment="error"></div>
		


		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>		
		<footer>
			<p>Készítette: Horváth László Csaba - uu74p5</p>
		</footer>
	
	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
</body>
</html>