<!DOCTYPE html>
<html lang="hu" layout:decorator="layouts/main">

<head></head>
<body>

<div layout:fragment="error">
<div class="container">
    
<table>    
<tr>
<td><img src="img/sad.png" alt="error" height="200" width="200" /></td>
<td style="width:10%"></td>
<td>
    <article>
            <header>
            <h2>404</h2> 
        </header>
 	    <section>
 	    	<h4>Sajnáljuk! A keresett oldal nem található.</h4> 
       		Keresett oldal: 
      		<p th:text="${path}">Hibauzenet</p>
      		Időbélyeg: 
      		<p th:text="${#dates.format(timestamp, 'yyyy.MM.dd HH:mm')}"></p>
        </section>     
        <hr/>
    </article>
</td> 
</tr>    
</table>


</div>
</div>

</body>
</html>