<!DOCTYPE html>
<html lang="hu" layout:decorator="layouts/main">

<head></head>
<body>

<div layout:fragment="error">
<div class="container">
    
    <article>
        <header>
            <h1>Hiba!</h1> 
        </header>
 	    <section>
 	    	<h3 th:text="${error}">Ez itt a gond</h3> 
       		<p th:text="${message}">Hibauzenet</p>
      		<p th:text="${path}">Hibauzenet</p>
      		<p th:text="${status}">Hibauzenet</p>
      		<p th:text="${timestamp}">Hibauzenet</p>
        </section>     
        <hr/>
    </article>
    
</div>
</div>

</body>
</html>