<!DOCTYPE html>
<html lang="hu" layout:decorator="layouts/main">
<head>
<title>Index</title>
</head>
<body>

<div layout:fragment="index">

<article>
        <header>
            <h1>Üdvözöllek!</h1> 
            <p>Beküldve: 2018. október 29.</p>
        </header>
    
 	    <section>
            <p>Ezen az oldalon tudsz hibát bejelenteni, vagy igényedet leadni. A "Bejelentés" menüpont alatt találod az űrlapot. </p>
      		<p>Munkatársaink amint tudnak, jelentkeznek és megkezdik a hiba elhárítását, illetve a megrendelés teljesítését.</p>
      		<p>Felmerülő kérdések esetén kérem írjon emailt a "Levélküldés menüpont segítségével és munkatársaink felveszik veled a kapcsolatot.</p>
        </section>
        
        <footer>
            <address>
                <span>Beküldte: Horváth László Csaba</span>
            </address>
        </footer>
        <hr/>
</article>
<article>
        <header>
            <h1>Login</h1> 
            <p>Beküldve: 2018. október 29.</p>
        </header>
    
 	    <section>
            <p>Bejelentkezéshez kattintson az alábbi linkre.</p>
      		<p><a href="/login">Bejelentkezés</a></p>
      		<p></p>
        </section>
        
        <footer>
            <address>
                <span>Beküldte: Horváth László Csaba</span>
            </address>
        </footer>
        <hr/>
</article>

</div>

</body>
</html>