<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorator="layouts/main">
<head>
<title>uu74p5</title>
</head>
<body>

	<div style="width:50%;" layout:fragment="loginContent">

		<form name="registration" th:action="@{/reg}" th:object="${user}" method="post" class="form-signin">
			<h2 class="form-signin-heading" th:text="#{wanttoreg}">Kérlek, regisztrálj!</h2>
			<div class="alert alert-warning" role="alert"><p th:text="#{alert1}">alert1</p></div>
				<p>Email:</p>
		 	    <input type="text" required="" id="email" name="email" th:field="*{email}" class="form-control" /> 
			    <p th:text="#{pw}">Jelszó: /minimum 8 karakter/</p>
			    <input type="password" pattern=".{8,}" title="Legalább 8 karakteres jelszót adjon meg!" required="" id="password" name="password" th:field="*{password}"  class="form-control" />
			    <p th:text="#{name}">Teljes neved:</p>
			    <input type="text" required="" id="name" name="name" th:field="*{name}" class="form-control"  />
			    <p th:text="#{address}">A pontos címed:</p>
			    <input type="text" required="" id="address" name="address" th:field="*{address}" class="form-control"  />
			    <p th:text="#{phone}">Telefonszámod:</p>
			    <input type="text" required="" id="phone" name="phone" th:field="*{phone}" class="form-control"  />
			    <br/>
			<button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{wanttoreg}">Regisztráció</button>
		</form>

	</div>

</body>
</html>