<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">
<head>
<title>Ticket</title>
</head>
<body>

<div class="container"  layout:fragment="ticket">

    

	<table style="width:98%" class="table table-striped table-bordered table-hover">
		<tr style="font-weight:bold">
			<td style="border-bottom:1pt solid black; border-left:1pt solid black; border-top:1pt solid black;" class="">Hibajegy ID:</td>
			<td style="border-bottom:1pt solid black; border-top:1pt solid black; border-right:1pt solid black;" class="info" th:text="${#numbers.formatInteger(ticket.id,5)}"></td>
			<td style="border-bottom:1pt solid black; border-top:1pt solid black;" class="" >Státusz:</td>
			<td style="border-bottom:1pt solid black; border-top:1pt solid black; border-right:1pt solid black;" class="danger" th:if="${ticket.status eq 'opened'}" th:utext="Nyitott"></td>
			<td style="border-bottom:1pt solid black; border-top:1pt solid black; border-right:1pt solid black;" class="warning" th:if="${ticket.status eq 'inprogress'}" th:utext="Folyamatban"></td>
			<td style="border-bottom:1pt solid black; border-top:1pt solid black; border-right:1pt solid black;" class="success" th:if="${ticket.status eq 'closed'}" th:utext="Lezárt"></td>
		</tr>
		<tr style="font-style:italic">
			<td style="border-top:1pt solid black; border-left:1pt solid black; border-right:1pt solid black;" colspan="4">Feladat leírása:</td>
		</tr>
		<tr>
			<td style="border-bottom:1pt solid black; border-left:1pt solid black; border-right:1pt solid black;" height="100px" colspan="4" th:utext="${ticket.task}">Feladat</td>
		</tr>
		<tr>
			<td style="border-left:1pt solid black; border-right:1pt solid black;">Bejelentő:</td>
			<td style="border-right:1pt solid black;">Címe:</td>
			<td style="border-right:1pt solid black;">Bejelentés dátuma:</td>
			<td style="border-right:1pt solid black;">Telefonszám:</td>
		</tr>
		<tr>
			<td style="border-bottom:1pt solid black; border-left:1pt solid black; border-right:1pt solid black;"  th:utext="${ticket.client.name}"></td>
			<td style="border-bottom:1pt solid black; border-right:1pt solid black;" th:utext="${ticket.client.address}"></td>
			<td style="border-bottom:1pt solid black; border-right:1pt solid black;"  th:utext="${#dates.format(ticket.startdate, 'yyyy.MM.dd HH:mm')}"></td>
			<td style="border-bottom:1pt solid black; border-right:1pt solid black;" th:text="${ticket.client.phone}"></td>
		</tr>
		<tr  style="font-style:italic">
			<td style="border-right:1pt solid black; border-left:1pt solid black; border-top:1pt solid black;" colspan="4">Megoldás leírása:</td>
		</tr>
		<tr>
			<td style="border-bottom:1pt solid black; border-left:1pt solid black; border-right:1pt solid black;" height="100px" colspan="4" th:utext="${ticket.solution}"></td>
		</tr>
		<tr>
			<td style="border-bottom:1pt solid black; border-left:1pt solid black;" width="25%">Megoldó:</td>
			<td style="border-bottom:1pt solid black; border-right:1pt solid black;" width="25%">
			
				<span th:if="${ticket.worker != null}" th:utext="${ticket.worker.name}">Worker</span>
				
				<span sec:authorize="hasAuthority('ADMIN')"  th:if="${ticket.status == 'opened'}">
				<form name="ticketworker" th:action="@{'/tickets/editworker/' + ${ticket.id}}" th:object="${ticket}" method="post" class="form-signin">
				<select th:field="*{worker}">
    			<option th:each="editor : ${editors}" th:value="${editor.email}" th:utext="${editor.name}"></option>
				</select>
				<button class="btn btn-warning btn-xs" type="submit" role="button" action="ticketworker">Megoldó kijelölése</button>
				</form>
				</span></td>
			<td style="border-bottom:1pt solid black;" width="25%">Megoldás dátuma:</td>
				<div th:switch="${ticket.enddate}">
						<p th:case="null"><td style="border-bottom:1pt solid black; border-right:1pt solid black;">Még nincs.</td></p>
						<p th:case="*"> <td style="border-bottom:1pt solid black; border-right:1pt solid black;" th:utext="${#dates.format(ticket.enddate, 'yyyy.MM.dd HH:mm')}">datummm</td></p>
				</div>
			
			 
		</tr>
	
	</table>
	<span th:if="${ticket.status == 'inprogress'}">
   	<a sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')" class="btn btn-warning" th:href="@{${ticket.id} + '/editor'}" role="button">Szerkesztés</a>
    </span>
    <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger" th:href="@{${ticket.id} + '/delete'}" role="button">Törlés</a>
    
	
	



</div>
</body>
</html>