<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">
<head>
<title>Tickets</title>
</head>
<body>

<div layout:fragment="tickets">
<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Hibajegyek</a>
            </div>
            
        </div>
    </nav>
	<center>
   <table class="table table-striped table-bordered table-hover">
   		<tr>
	        <td width="10%" >Id</td>
	        <td width="15%">Név</td>
	        <td width="35%">Bejelentés</td>
	        <td width="10%">Megoldo</td>
	        <td width="10%">Bejelentés kelte</td>
	        <td width="10%">Telefonszám</td>
	        <td width="10%">Cím</td>
    	</tr>
<!--         	<tr th:each="ticket : ${tickets}"   th:classappend="${ticketService.getDateDiff(#dates.createNow(), ticket.date,TimeUnit.MINUTES)} ? 'warning' : 'danger'">  -->
         	<tr th:each="ticket : ${tickets}"   th:classappend="${(#dates.year(#dates.createNow()) - #dates.year(ticket.startdate)) gt 0} ? 'danger' : (   ${( ((#dates.month(#dates.createNow())*30) + (#dates.day(#dates.createNow()))) - 
         																																			     (((#dates.month(ticket.startdate))*30) + (#dates.day(ticket.startdate))) ) gt 50} ? 'danger' :
         																																		  (   ${( ((#dates.month(#dates.createNow())*30) + (#dates.day(#dates.createNow()))) - 
         																																			     (((#dates.month(ticket.startdate))*30) + (#dates.day(ticket.startdate))) ) gt 15} ? 'warning' : '')) "> 
        	
	        <p sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')"><td><a th:text="${#numbers.formatInteger(ticket.id,5)}"  th:href="@{'/tickets/' + ${ticket.id}}"   /></td></p>
	        <p sec:authorize="hasAuthority('USER')"><td><a th:text="${#numbers.formatInteger(ticket.id,5)}"  th:href="@{'/usertickets/' + ${ticket.id}}"   /></td></p>

	        <td th:utext="${ticket.client.name}"></td>
	        <td th:utext="${ticket.task}"></td>
	        <td>
	        <span th:if="${ticket.worker != null}" th:utext="${ticket.worker.name}"></span>
	        <span th:if="${ticket.worker == null}"><form sec:authorize="hasAnyAuthority('EDITOR', 'ADMIN')" id="frmvallalom" th:action="@{'/vallalom/' + ${ticket.id}}" method="post" class="form-inline">
				    		<a href="javascript:{}" onclick="document.getElementById('frmvallalom').submit(); return false;">Vállalom</a>
				      </form></span>

	        </td>
	        <td th:text="${#dates.format(ticket.startdate, 'yyyy.MM.dd')}"></td>
	        <td th:utext="${ticket.client.phone}"></td>
	        <td  th:utext="${ticket.client.address}"></td>
        </tr>
   </table>
   </center>

</div>
</div>

</body>
</html>