<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">
<head>
<title>Ticket</title>
</head>
<body>

<div class="container"  layout:fragment="ticket">

    

	<table style="width:98%" class="table table-striped table-bordered table-hover">
		<tr style="font-weight:bold">
			<td style="width:25%">Hibajegy ID:</td><td style="width:25%" class="info" th:text="${#numbers.formatInteger(ticket.id,5)}">00000</td><td style="width:25%">Státusz:</td><td style="width:25%" class="danger" th:utext="${ticket.status}">StĂˇtusz: 00000</td>
		</tr>
		<tr style="font-style:italic">
			<td colspan="4">Feladat leírása:</td>
		</tr>
		<tr>
			<td height="100px" colspan="4" th:utext="${ticket.task}">Feladat</td>
		</tr>
		<tr>
			<td>Bejelentő:</td><td th:utext="${ticket.client.name}">Kliens</td><td>Bejelentás dátuma:</td><td th:utext="${#dates.format(ticket.startdate, 'yyyy.MM.dd')}">start date</td>
		</tr>
		<tr  style="font-style:italic">
			<td colspan="4">Megoldás leírása:</td>
		</tr>
		<tr>
			<td height="100px" colspan="4" th:utext="${ticket.solution}">Megoldás</td>
		</tr>
		<tr>
			<td>Megoldó:</td>
			<td><span th:if="${ticket.worker != null}" th:utext="${ticket.worker.name}">Worker</span></td>
			<td>Megoldás dátuma:</td>
				<div th:switch="${ticket.enddate}">
						<p th:case="null"><td>nincs</td></p>
						<p th:case="*"> <td th:utext="${#dates.format(ticket.enddate, 'yyyy.MM.dd')}">datummm</td></p>
				</div>
			
			 
		</tr>
	
	</table>
	<span th:if="${ticket.status == 'In progress...'}">
   	<p sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')"><a class="btn btn-warning" th:href="@{${ticket.id} + '/editor'}" role="button">Szerkesztés</a></p>
    </span>

</div>
</body>
</html>